<div class="container p-4">
    <div class="row">
        <div class="col-11">
        <div class="row">
        {{#each terminals}}                    
        <div class="col-2 p-1">
            
            <div class="card text-cent">
                <div class="card-body">
                    <button class="btn"><h1>{{numero}}</h1></button> 
                         <h4 class="card-title text-uppercase">
                            00:00:00
                         </h4> 
                     </a>
                     <p class="m-2">{{ip}}</p>
                     <p>00,00 Bs</p>
                     <button class="btn"><i class="fas fa-play"></i></button> 
                     {{!--<button class="btn"><i class="fas fa-stop"></i></button>
                     <button class="btn"><i class="fas fa-hand-pointer"></i></button>
                     <button class="btn"><i class="fas fa-coins"></i></button>--}}
                     
                </div>
            </div>
           
        </div>
        {{/each}}
        </div>
        </div>

        <div class="col-1"><button class="btn">asjdajsd</button></div>
        

    </div>
</div>